/* nejsme vcerejsi, pouzivame moderni box model */

html {
    box-sizing: border-box;
}

*,
 :after,
 :before {
    box-sizing: inherit;
}

body {
    font-family: sans-serif;
    font-size: 14px;
}


/* ---------------------------------------------------- */

.container {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    /*když zmenším velikost prohlížeče itemy vytečou ven z kontejneru, nevím jak to vyřešit.. - pozadí za items (kontejner) už není šedé, ale bílé*/
    background-color: rgba(240, 234, 234, 0.726);
    border-radius: 10px;
    padding-right: 1rem;
    padding-left: 1rem;
}

.item {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 22%;
    background-color: white;
    border-radius: 10px;
    margin: 1rem;
    padding: 2rem;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    /*nepodařilo se mi dát obsah items na střed a nevím proč - respektive v menším  okně prohlížeče profilové fotky a popisky vypadají jakože jsou uprostřed, ale po roztažení prohlížeče se posunou víc vlevo..*/
}

.foto {
    border-radius: 50%;
    width: 150px;
}

.icons {
    padding: 0.5rem;
    display: flex;
}

.icons img {
    display: flex;
    width: 35px;
    height: 35px;
    padding: 0.2rem;
}